<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>walkerrandolphsmith.versionone.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0636830D-BBBD-46E6-BB8D-D39223E917F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BD9F517-CD0F-49B6-8AD6-61F6D1D1EE12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>121B5FD3-B03B-4FBA-B848-DF6DBFF47006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48766C94-3263-408C-A7C3-F52FD7FBD6A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F0BB343-9284-421C-846D-E6489CBC56DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6306C476-5FC5-4035-B293-74DD7A737566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>692FCA22-0D7B-4484-B4F6-4FAE6D2B10DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CDAB4BA-42A7-4776-BDA6-6C4629F903B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6DF1113F-65AB-40D5-96F2-C962D1712E74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0EA215-3F3D-4883-B8B1-C8D9B1BFD42F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A1F57E8-0CE7-4D02-93A0-189E1E42EAC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B76BFD6-8331-4CCF-9D48-D11F6F398D48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D87DACF0-846F-4137-A5E2-D5809230A041</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DB01220-124A-432D-91AE-64592902A516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DFDD5E0B-2F5E-4FD2-B926-BA8BFECAAAB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F05D89-7088-4AC5-AACD-28136B2016B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>walkerrandolphsmith</string>
	<key>description</key>
	<string>VersionOne workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VersionOne</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v1 set url</string>
				<key>text</key>
				<string>Set a VersionOne instance URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D87DACF0-846F-4137-A5E2-D5809230A041</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/main.py set_url "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DB01220-124A-432D-91AE-64592902A516</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 view url</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python src/main.py view_url "{query}"</string>
				<key>title</key>
				<string>View the current VersionOne instance URL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE11A3C9-3FF4-49C5-A593-5C95A16D18C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v1 set token</string>
				<key>text</key>
				<string>Set VersionOne Api Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>121B5FD3-B03B-4FBA-B848-DF6DBFF47006</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/main.py set_token "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48766C94-3263-408C-A7C3-F52FD7FBD6A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 view token</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python src/main.py view_token "{query}"</string>
				<key>title</key>
				<string>View the current VersionOne API token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F946A7B-EBAE-499E-A6DC-D0A735346E3B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open pages</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python src/main.py open_menu_pages "{query}"</string>
				<key>subtext</key>
				<string>Backlog, Poftfolio Tree, Account</string>
				<key>title</key>
				<string>Open pages in VersionOne</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F0BB343-9284-421C-846D-E6489CBC56DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6306C476-5FC5-4035-B293-74DD7A737566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open page</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python src/main.py open_page {query}</string>
				<key>subtext</key>
				<string>Backlog, Portfolio Tree, Reports</string>
				<key>title</key>
				<string>Open a specific page in the browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8A1F57E8-0CE7-4D02-93A0-189E1E42EAC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B76BFD6-8331-4CCF-9D48-D11F6F398D48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open lobby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python src/main.py open_lobby "{query}"</string>
				<key>subtext</key>
				<string>View all TeamRooms or PlanningRooms</string>
				<key>title</key>
				<string>Open TeamRoom and PlanningRoom lobbies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DF1113F-65AB-40D5-96F2-C962D1712E74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF0EA215-3F3D-4883-B8B1-C8D9B1BFD42F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0CDAB4BA-42A7-4776-BDA6-6C4629F903B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open teamroom</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python src/main.py open_teamroom "{query}"</string>
				<key>title</key>
				<string>Open TeamRoom by name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>692FCA22-0D7B-4484-B4F6-4FAE6D2B10DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/set_single_value_relation.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4BD9F517-CD0F-49B6-8AD6-61F6D1D1EE12</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 set relation</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>finding values</string>
				<key>script</key>
				<string>python src/set.py "{query}"</string>
				<key>subtext</key>
				<string>set a story's status, etc</string>
				<key>title</key>
				<string>Update an asset in VersionOne</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0636830D-BBBD-46E6-BB8D-D39223E917F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python src/main.py open "{query}"</string>
				<key>title</key>
				<string>Open an asset in the browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFDD5E0B-2F5E-4FD2-B926-BA8BFECAAAB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F4F05D89-7088-4AC5-AACD-28136B2016B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0636830D-BBBD-46E6-BB8D-D39223E917F5</key>
		<dict>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>0CDAB4BA-42A7-4776-BDA6-6C4629F903B4</key>
		<dict>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>121B5FD3-B03B-4FBA-B848-DF6DBFF47006</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>2DB01220-124A-432D-91AE-64592902A516</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2F946A7B-EBAE-499E-A6DC-D0A735346E3B</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>48766C94-3263-408C-A7C3-F52FD7FBD6A7</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>4BD9F517-CD0F-49B6-8AD6-61F6D1D1EE12</key>
		<dict>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>4F0BB343-9284-421C-846D-E6489CBC56DB</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>5B76BFD6-8331-4CCF-9D48-D11F6F398D48</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>6306C476-5FC5-4035-B293-74DD7A737566</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>692FCA22-0D7B-4484-B4F6-4FAE6D2B10DE</key>
		<dict>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>6DF1113F-65AB-40D5-96F2-C962D1712E74</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>8A1F57E8-0CE7-4D02-93A0-189E1E42EAC8</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>BE11A3C9-3FF4-49C5-A593-5C95A16D18C6</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D87DACF0-846F-4137-A5E2-D5809230A041</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DF0EA215-3F3D-4883-B8B1-C8D9B1BFD42F</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>DFDD5E0B-2F5E-4FD2-B926-BA8BFECAAAB5</key>
		<dict>
			<key>ypos</key>
			<real>1220</real>
		</dict>
		<key>F4F05D89-7088-4AC5-AACD-28136B2016B3</key>
		<dict>
			<key>ypos</key>
			<real>1220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www7.v1host.com/V1Production/</string>
</dict>
</plist>
