<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>walkerrandolphsmith.versionone.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0636830D-BBBD-46E6-BB8D-D39223E917F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>009F3660-00E9-42E0-8EA9-D1184BE85305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>331A5025-B293-4488-8671-959DF2B6675F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CF2A501-304E-4C9C-A58A-C57EB235DC3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F0BB343-9284-421C-846D-E6489CBC56DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6306C476-5FC5-4035-B293-74DD7A737566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5F3FB43E-3450-40AC-8F2B-8D17BA5357C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA1D52CD-5655-4F7B-B8C4-EE92FD4233AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9CF2A501-304E-4C9C-A58A-C57EB235DC3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>649165CB-D641-426B-AA53-7B5AE67689BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4756849-01A1-4997-9AA0-86C5AF872B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F3FB43E-3450-40AC-8F2B-8D17BA5357C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D87DACF0-846F-4137-A5E2-D5809230A041</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DB01220-124A-432D-91AE-64592902A516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F18852B3-901E-4915-87F2-27A5617D570E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>693FF590-36A9-4107-8D14-91100C2EE50A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>walkerrandolphsmith</string>
	<key>description</key>
	<string>VersionOne workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VersionOne</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 settings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python src/settings.py "{query}"</string>
				<key>subtext</key>
				<string>View and update settings</string>
				<key>title</key>
				<string>VersionOne Alfred Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C00A6DE-7A08-4E8E-99D0-F4A7756093FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>VersionOne token saved successfully.</string>
				<key>title</key>
				<string>VersionOne Token Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA1D52CD-5655-4F7B-B8C4-EE92FD4233AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v1token</string>
				<key>subtext</key>
				<string>Bearer XXXXXXXXXX</string>
				<key>text</key>
				<string>Enter a VersionOne Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4756849-01A1-4997-9AA0-86C5AF872B3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python v1.py --setkey "{query}" </string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F3FB43E-3450-40AC-8F2B-8D17BA5357C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python v1.py --seturl "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CF2A501-304E-4C9C-A58A-C57EB235DC3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v1url</string>
				<key>subtext</key>
				<string>http://xxx.com</string>
				<key>text</key>
				<string>Enter a VersionOne Url</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>331A5025-B293-4488-8671-959DF2B6675F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>VersionOne Url saved successfully</string>
				<key>title</key>
				<string>VersionOne Url saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>649165CB-D641-426B-AA53-7B5AE67689BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 close</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading {query}</string>
				<key>script</key>
				<string>python src/v1.py "{query}"</string>
				<key>subtext</key>
				<string>Stories, Defects, Epics, TeamRoom, TeamRoom lobby</string>
				<key>title</key>
				<string>open an asset in browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F18852B3-901E-4915-87F2-27A5617D570E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>693FF590-36A9-4107-8D14-91100C2EE50A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 setter</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>finding values</string>
				<key>script</key>
				<string>python src/set.py "{query}"</string>
				<key>subtext</key>
				<string>set a story's status, etc</string>
				<key>title</key>
				<string>Update an asset in VersionOne</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0636830D-BBBD-46E6-BB8D-D39223E917F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/set_single_value_relation.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>009F3660-00E9-42E0-8EA9-D1184BE85305</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v1 set url</string>
				<key>text</key>
				<string>Set a VersionOne instance URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D87DACF0-846F-4137-A5E2-D5809230A041</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/main.py set_url "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DB01220-124A-432D-91AE-64592902A516</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 view url</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python src/main.py view_url "{query}"</string>
				<key>title</key>
				<string>View the current VersionOne instance URL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE11A3C9-3FF4-49C5-A593-5C95A16D18C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>v1 open pages</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python src/main.py open_menu_pages "{query}"</string>
				<key>subtext</key>
				<string>Backlog, Poftfolio Tree, Account</string>
				<key>title</key>
				<string>Open pages in VersionOne</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F0BB343-9284-421C-846D-E6489CBC56DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6306C476-5FC5-4035-B293-74DD7A737566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>009F3660-00E9-42E0-8EA9-D1184BE85305</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>0636830D-BBBD-46E6-BB8D-D39223E917F5</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>2DB01220-124A-432D-91AE-64592902A516</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>331A5025-B293-4488-8671-959DF2B6675F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4F0BB343-9284-421C-846D-E6489CBC56DB</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>5F3FB43E-3450-40AC-8F2B-8D17BA5357C0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6306C476-5FC5-4035-B293-74DD7A737566</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>649165CB-D641-426B-AA53-7B5AE67689BF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>693FF590-36A9-4107-8D14-91100C2EE50A</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>6C00A6DE-7A08-4E8E-99D0-F4A7756093FA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9CF2A501-304E-4C9C-A58A-C57EB235DC3D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A4756849-01A1-4997-9AA0-86C5AF872B3C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BE11A3C9-3FF4-49C5-A593-5C95A16D18C6</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>CA1D52CD-5655-4F7B-B8C4-EE92FD4233AB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D87DACF0-846F-4137-A5E2-D5809230A041</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>F18852B3-901E-4915-87F2-27A5617D570E</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www7.v1host.com/V1Production/</string>
</dict>
</plist>
